* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    -wekit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/BYekan.ttf') format('truetype'),
        url('../fonts/Yekan.woff') format('woff'),
        url('../fonts/BYekan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --yekan: Yekan;
    --dark-color: #0B3954;
    --gray-color: #5C676D;
    --btn-bg: #ffb128;
    --white-color: #fff;
    --button-padding: 15px 35px 15px 35px;
    --button-font-size: 14px;
    --sora: "Sora", sans-serif;
    --button-border-radius: 80px 80px 80px 80px;
    --button-theme-bg-hover: #225471;
}

.search-header__container {
    max-width: 1220px;
    width: 100%;
    padding: 20px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.search-header__logo img {
    width: 131px;
}

.mob-logo {
    display: none;
}

.search-header__form-wrapper {
    max-width: 550px;
    width: 100%;
}

.search-header__form input {
    width: 100%;
    height: 43px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 10px;
    text-align: end;
    font-family: var(--yekan);
    font-weight: 600;
    color: var(--dark-color);
}

/* Hamburger */
.menu-toggle,
.hamburger,
.menu-mob,
.close-btn-search {
    display: none;
}

.close-btn-search svg {
    width: 1rem;
}

.search-header__form input::placeholder {
    color: var(--dark-color);
}

.mob-search-btn {
    display: none;
}

.search-header__form {
    display: flex;
    background: #f5f5f5;
    border-radius: 5px;
}

.search-header__button {
    padding: 0 8px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.video-hero__container {
    max-width: 1220px;
    width: 100%;
    padding: 0 33px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.video-hero__video-wrapper video {
    width: 100%;
    max-width: 552px;
    aspect-ratio: 16 / 9;
}

.video-hero__heading {
    font-size: 48px;
    font-family: var(--yekan);
    text-align: end;
    line-height: 55px;
    color: var(--dark-color);
    margin-bottom: 15px;
    font-weight: 700;
}

.video-hero__subheading {
    font-size: 33px;
    font-family: var(--yekan);
    color: var(--dark-color);
    font-weight: 700;
    text-align: end;
    margin-bottom: 15px;
}

.video-hero__description {
    font-family: var(--yekan);
    font-size: 24px;
    font-weight: 400;
    color: var(--gray-color);
    text-align: end;
}

.hero__cta {
    text-align: end;
    margin-top: 15px;
    width: fit-content;
    margin-left: auto;
}

.same-cta {
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    background: var(--btn-bg);
    color: var(--white-color);
    border-radius: var(--button-border-radius);
    font-weight: 600;
    transition: all 0.2s linear;
    height: 46px;
    min-width: 163px;
}

.same-cta:hover {
    background: var(--button-theme-bg-hover);
}

.faith-info__container {
    max-width: 1220px;
    width: 100%;
    padding: 2rem 33px;
    margin: 0 auto;
    text-align: right;
    min-height: 100vh;
    height: auto;
}

.faith-info__block p {
    font-size: 21.6px;
    font-family: var(--yekan);
    font-weight: 300;
    color: var(--gray-color);
    margin-bottom: 15px;
}

.faith-info__block p strong {
    font-weight: 600;
}

.faith-info__block {
    margin-bottom: 3rem;
}

.footer__social-links li a svg {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.footer__container {
    max-width: 1220px;
    width: 100%;
    padding: 0 33px;
    margin: 0 auto;
}

.footer__logo {
    width: fit-content;
    margin: 0 auto;
}

.footer__brand-name {
    text-align: center;
    font-family: var(--yekan);
    font-weight: 700;
    font-size: 24px;
    color: #2a2b39;
}

.footer__brand-name span:last-child {
    color: #ff9900;
}

.footer__slogan {
    text-align: center;
    font-family: var(--yekan);
    font-weight: 400;
    color: var(--gray-color);
    margin-top: 10px;
}

.footer__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin-top: 2rem;
}

.footer__social-links a {
    text-decoration: none;
    transition: all 0.2s linear;
    display: block;
    fill: rgb(30, 21, 76);
}

.footer__social-links .youtube:hover {
    fill: rgb(255, 0, 0);
    transform: scale(1.3);
}

.footer__social-links .instagram:hover {
    fill: rgb(253, 29, 29);
    transform: scale(1.3);
}

.footer__social-links .facebook:hover {
    fill: #0057c1;
    transform: scale(1.3);
}

.footer__social-links .twitter:hover {
    fill: rgb(29, 161, 242);
    transform: scale(1.3);
}

.footer__social-links .soundcloud:hover {
    fill: rgb(255, 136, 0);
    transform: scale(1.3);
}

.footer__social-links .paperplane {
    rotate: 15deg;
}

.footer__social-links .paperplane:hover {
    fill: rgb(29, 161, 242);
    transform: scale(1.3);
}

.footer__copyright {
    text-align: center;
    font-family: var(--yekan);
    font-weight: 400;
    color: var(--gray-color);
}

.footer__privacy {
    text-align: center;
    font-family: var(--yekan);
    font-weight: 400;
    margin-top: 15px;
    padding-bottom: 70px;
}

.footer__privacy a {
    color: #333399;
    text-decoration: none;
}

.footer__privacy a:hover {
    text-decoration: underline;
    text-decoration-color: var(--btn-bg);
}

.footer__content {
    padding-top: 50px;
}

.footer__logo img {
    width: 131px;
    height: 74px;
}


@media only screen and (max-width: 950px) {
    .video-hero__container {
        gap: 20px;
    }

    .video-hero__heading {
        font-size: 41px;
    }

    .video-hero__subheading {
        font-size: 27px;
    }

    .video-hero__description {
        font-size: 21px;
    }
}

@media only screen and (max-width: 768px) {
    .desk-logo {
        display: none;
    }

    .mob-logo {
        display: block;
        width: 170px;
    }

    .search-header__form-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        box-shadow: 0px 0px 10px rgba(30, 21, 76, 0.386);
        background: var(--white-color);
        padding: 10px 10px 10px 20px;
        border-radius: 5px;
        width: calc(100% - 33px);
        z-index: 100;
    }

    .search-header__form-wrapper.active {
        display: flex;
        align-items: center;
    }

    .search-header__form {
        width: 100%;
        background: transparent;
    }

    .mob-search-btn {
        display: block;
    }

    .search-header__container {
        padding: 20px 33px;
        box-shadow: 5px 0px 10px rgba(30, 21, 76, 0.386);
    }

    .menu-mob {
        display: none;
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        /* pointer-events: none; */
        background: #F6F7F9;
        padding: 33px;
        z-index: 100;
        max-height: calc(100% - 100px);
        overflow-y: auto;
    }

    .menu-mob ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        list-style: none;
        min-height: 626px;
        height: auto;
    }

    .menu-mob ul li {
        width: 100%;
    }

    .menu-mob ul li a {
        width: 100%;
        border-bottom: 1px solid var(--dark-color);
        display: inline-flex;
        text-align: center;
        text-decoration: none;
        color: var(--gray-color);
        font-family: var(--yekan);
        font-weight: 400;
        align-items: center;
        gap: 10px;
        justify-content: center;
        padding: 15px 0;
    }

    .menu-toggle:checked+.hamburger+.menu-mob {
        display: flex;
    }

    .menu-mob img {
        width: 1.5rem;
        display: block;
        transition: all 0.2s linear;
    }

    .menu-mob ul li a:hover img {
        transform: scale(1.2);
    }

    .hamburger {
        display: block;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        height: 2px;
        width: 28px;
        background: rgb(0, 0, 0);
        margin: 3px 0;
    }

    .close-btn-search {
        display: block;
    }

    .close-btn-search svg {
        width: 1rem;
    }

    .video-hero__container {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media only screen and (max-width: 425px) {
    .video-hero__heading {
        font-size: 29px;
        line-height: 38px;
        margin-top: 10px;
    }

    .video-hero__subheading {
        font-size: 19px;
    }

    .video-hero__description {
        font-size: 19px;
    }

    .footer__brand-name {
        font-size: 14px;
    }

    .footer__slogan,
    .footer__copyright,
    .footer__privacy {
        font-size: 13px;
    }
}

@media only screen and (max-width: 412px) {

    .video-hero__video-wrapper video {
        width: 100%;
        max-width: 300px;
        aspect-ratio: 16 / 9;
        margin: 0 auto;
        display: block;
        height: 45vw;
    }

    .video-hero__container,
    .faith-info__container,
    .footer__container,
    .search-header__container {
        min-width: 320px;
    }

    .faith-info__block {
        min-width: 254px;
    }
}

@media only screen and (max-width: 320px) {
    .faith-info__block {
        /* background-color: red; */
    }
}